<div class="w-min">
	<div
		id="targetaid-widget-container-4d3b2eab-0cb7-45de-9563-7f44a0eaf56f"
		style="display:inline-block;"
	>
	</div>
	<script
		is:inline
		type="text/javascript"
		id="targetaid-widget-script-4d3b2eab-0cb7-45de-9563-7f44a0eaf56f"
		data-widget-container-id="targetaid-widget-container-4d3b2eab-0cb7-45de-9563-7f44a0eaf56f"
		data-url="https://www.targetaid.com/ngo/operationchange-sweden/operationchange-sweden/barnhem-dzhulynka/widget?compact=False&supportProfileKey="
		data-width="345"
		data-height="464"
		src="https://www.targetaid.com/scripts/widget.js"></script>
	<p class="bg-gray-800 p-4 text-center text-base text-white">
		Markera donationen med <strong>Dzhulynka</strong>.
	</p>
</div>
